body {
	background-color: #28a53f;
}
#container {
	border-color: #c6c6c6;
	border-width: 5px;
	border-style: double;
	position:absolute;
	width:800px;
	top:30px;
	bottom:30px;
	left:70px;
	background-color:grey;
}
#header {
	font-family: "OCR A Std";
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 30px;
	position: absolute;
	top:3px;
	left: 10px;
}
#conversation {
	position:absolute;
	width:750px;
	top:35px;
	left:10px;
	bottom:50px;
	overflow:auto;
}
#input {
	background-color: #8684ff;
	color: #f9f9f9;
	position:absolute;
	width: 750px;
	bottom:20px;
	left:10px;
}
.logg {
	border-width: 1px;
	border-style: solid;
	font-family: monospace;
	color: #383838;
	background-color: #e8ffee;
	visibility: visible;
	height:14px;
}
.logg a {
font-family: monospace;
color: #403fff;
}







.jqifade{
	position: absolute;
	background-color: red;
}
div.jqi{
	width: 400px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: #ffffff;
	font-size: 11px;
	text-align: left;
	border: solid 1px #eeeeee;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 7px;
}
div.jqi .jqicontainer{
	font-weight: bold;
}
div.jqi .jqiclose{
	position: absolute;
	top: 4px; right: -2px;
	width: 18px;
	cursor: default;
	color: #ffffff;
	font-weight: bold;
}
div.jqi .jqimessage{
	padding: 10px;
	line-height: 20px;
	color: #444444;
}
div.jqi .jqibuttons{
	text-align: right;
	padding: 5px 0 5px 0;
	border: solid 1px #eeeeee;
	background-color: #00AA00;
}
div.jqi button{
	padding: 3px 10px;
	margin: 0 10px;
	background-color: #2F6073;
	border: solid 1px #f4f4f4;
	color: #00AA00;
	font-weight: bold;
	font-size: 12px;
}
div.jqi button:hover{
	background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{
	background-color: #FFFFFF;
}
.jqiwarning .jqi .jqibuttons{
	background-color: #FFFFFF;
}